.Rectangle {
  box-sizing: border-box;

  position: absolute;
  width: 1110px;
  height: 273px;
  left: 405px;
  top: 899.52px;

  /* 3 */

  border: 2px dashed #ffffff;
  border-radius: 15px;
}

.Propusk {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 22px;
  gap: 10px;

  position: absolute;
  width: 542px;
  height: 93px;
  left: 689px;
  top: 834.52px;

  /* 1 */

  background: #445ffc;
  /* 3 */

  border: 2px solid #ffffff;
  border-radius: 15px;
}

.Title {
  width: 498px;
  height: 61px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */

  /* 3 */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
