.title {
  padding: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;

  color: #ffffff;

  background: #445ffc;

  //   border: 2px solid #ffffff;
  border-radius: 15px;
}

.skipping-traffic {
  border: 2px dashed #ffffff;
  border-radius: 15px;
  border-style: dashed;
}
