.title {
  padding: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;

  color: #ffffff;
  position: relative;
  top: 35px;
  background: #445ffc;

  border: 2px solid #ffffff;
  border-radius: 15px;
}

.frame {
  border: 2px dashed #ffffff;
  border-radius: 15px;
  border-style: dashed;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 30px;
  justify-content: center;

  gap: 35px;
}

.traffic {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  max-width: 800px;

  color: #ffffff;
}
